/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1835px) {
	.fixed-consult {
		display: none;
	}
}
@media only screen and (max-width : 1700px) {
	.thanks {
		padding-top: 70px;
		padding-bottom: 150px;
	}
}
@media only screen and (max-width : 1400px) {
	.billbord-main__title {
		font-size: 26px;
		margin-bottom: 33px;
	}
	.item-billbord {
		font-size: 17px;
		line-height: 28px;
	}
	.item-billbord__name {
		font-size: 31px;
		margin-bottom: 27px;
	}
	.item-billbord__title {
		font-size: 41px;
		line-height: 42px;
		margin-bottom: 25px;
	}
	.billbord-main {
		padding: 26px 20px;
		padding-right: 63px;
		min-height: 347px;
	}
	.billbord-main__image img {
		max-width: 100px;
	}
	.billbord-main .link-main {
		margin-top: 25px;
	}
	.item-category {
		font-size: 20px;
	}
	.billbord-catalog__content {
		padding: 160px 18px;
		padding-right: 45px;
		padding-bottom: 30px;
	}
	.billbord-catalog {
		height: 460px;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.item-catalog__title {
		line-height: 22px;
	}
	.item-catalog .btn-main {
		padding: 0 15px;
	}
	.item-catalog .quantity {
		width: 110px;
	}
	.item-catalog__bottom {
		padding: 15px;
		min-height: 135px;
	}
	.item-catalog__content {
		padding: 0 15px;
		padding-bottom: 15px;
	}
	.consultation-block__descr {
		font-size: 32px;
	}
	.consultation-block__text {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
	}
	.item-article__image {
		height: 224px;
		margin-bottom: 20px;
	}
	.item-article__content {
		padding: 0 15px;
	}
	.row_advantages > div {
		padding: 0 15px;
	}
	.row_advantages {
		margin: 0 -15px;
	}
	.item-advantage {
		padding: 22px 15px;
	}
	.item-article__name {
		font-size: 21px;
		margin-bottom: 15px;
	}
	.item-article p {
		margin-bottom: 15px;
	}
	.unit-category ul {
		font-size: 17px;
	}
	.unit-category__image {
		transform: scale(0.8);
		transform-origin: 100% 100%;
	}
	.consultation-block_main .consultation-block__descr {
		font-size: 31px;
	}
	.consultation-block {
		padding: 65px 28px;
	}
	.categories-page .title-section {
		padding-bottom: 35px;
	}
	.card .consultation-block_main .consultation-block__descr {
		font-size: 21px;
		line-height: 28px;
		padding-bottom: 15px;
	}
	.basket-main td:nth-child(2) {
		padding-right: 10px;
		width: 300px;
	}
	.basket-main td:nth-child(3) {
		width: 182px;
	}
	.basket-total {
		padding: 20px;
		padding-bottom: 40px;
	}
	.title-big {
		font-size: 42px;
		line-height: 51px;
		padding-bottom: 20px;
	}
	.descr-big {
		font-size: 22px;
		line-height: 29px;
	}
	.thanks .descr-big {
		padding-bottom: 25px;
		max-width: 426px;
	}
	.thanks {
		padding-top: 55px;
		padding-bottom: 110px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.btn-header {
		width: 77px;
	}
	.contacts-links .phone-main ~ a {
		margin-left: 5px;
	}
	.header .logo-descr {
		display: none;
	}
	.search-main {
		width: 235px;
	}
	.menu {
		margin: 0 25px;
	}
	.item-billbord {
		font-size: 14px;
		line-height: 22px;
	}
	.item-billbord__name {
		font-size: 26px;
		margin-bottom: 14px;
	}
	.item-billbord__title {
		font-size: 32px;
		line-height: 31px;
		margin-bottom: 15px;
	}
	.billbord-main__title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.billbord-main {
		padding: 15px 20px;
		padding-right: 57px;
		min-height: 267px;
		font-size: 12px;
		line-height: 19px;
	}
	.billbord-main .link-main {
		margin-top: 15px;
	}
	.billbord-main__image img {
		max-width: 86px;
	}
	.billbord {
		padding: 53px 0;
	}
	.item-category {
		font-size: 16px;
		height: 270px;
	}
	.billbord-catalog .title-section {
		font-size: 23px;
	}
	.billbord-catalog__content {
		padding-top: 105px;
	}
	.billbord-catalog {
		height: 420px;
	}
	.consultation-block__descr {
		font-size: 25px;
	}
	.consultation-block__title {
		font-size: 38px;
		line-height: 39px;
	}
	.consultation-block {
		padding: 35px;
	}
	.line-form .item-form {
		width: 236px;
	}
	.consultation {
		padding-bottom: 40px;
	}
	.item-brand {
		height: 145px;
	}
	.catalog {
		padding-bottom: 60px;
	}
	.block-articles {
		padding: 25px;
		padding-bottom: 50px;
	}
	.row_articles > div {
		padding: 0 15px;	
	}
	.row_articles {
		margin: 0 -15px;
	}
	.about .title-section {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.about p {
		margin-bottom: 15px;
	}
	.item-advantage__title {
		font-size: 16px;
	}
	.footer__bottom {
		font-size: 12px;
	}
	.article h1 {
		font-size: 30px;
		line-height: 39px;
	}
	.form-page {
		padding: 37px 15px;
		padding-left: 20px;
	}
	.unit-category {
		padding: 30px 15px;
		min-height: 415px;
	}
	.unit-category__title {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 20px;
	}
	.unit-category ul {
		font-size: 15px;
		line-height: 22px;
	}
	.unit-category .link-main {
		left: 15px;
		bottom: 31px;
	}
	.unit-category__more::before {
		margin-right: 5px;
	}
	.row_units {
		margin: 0 -7px;
	}
	.row_units > div {
		padding: 0 7px;
		margin-bottom: 20px;
	}
	.consultation-block_main .consultation-block__text {
		font-size: 16px;
	}
	.text-block {
		margin-right: 0;
	}
	.table-main th {
		padding: 7px 5px;
	}
	.table-main {
		font-size: 14px;
	}
	.basket-main td:nth-child(1) {
		width: 150px;
	}
	.basket-main td:nth-child(2) {
		width: 205px;
	}
	.basket-main td:nth-child(3) {
		width: 150px;
		padding-left: 10px;
	}
	.basket-main td:last-child {
		width: 60px;
		padding-right: 15px;
	}
	.basket-bottom, .basket-head {
		padding: 18px 15px;
	}
	.basket-head__title,
	.restore-table, .clear-table {
		font-size: 15px;
	}
	.basket-bottom__title {
		max-width: 60%;
	}
	.link-doc {
		font-size: 16px;
	}
	.link-doc img {
		max-width: 20px;
	}
	.head-basket {
		margin-bottom: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-top__wrap .buttons-header,
	.header-top__wrap .contacts-links,
	.header-top__wrap .dropdown-location,
	.header-bottom__wrap .search-main,
	.header-bottom__wrap .menu {
		display: none;
	}
	.buttons-mobile {
		position: fixed;
		bottom: 0;
		display: block;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 900;
		box-shadow: 0 0 10px #ddd;
	}
	.btn-header {
		flex: 1;
	}
	.header .logo-wrap {
		margin: 0 auto;
	}
	.btn-main_catalog {
		top: 6px;
		left: 8px;
		font-size: 0 !important;
		padding: 0;
		position: absolute;
		background-color: transparent;
	}
	.header-top {
		padding: 14px 0;
	}
	.header-bottom__wrap {
		padding: 0;
	}
	.btn_nav {
		display: inline-block;
	}
	.btn-main_catalog .sandwich span {
		background-color: #ff0000;
	}
	.header {
		transform: none !important;
	}
	.btn-header__value {
		left: 28px;
		right: 0;
		margin: 0 auto;
	}
	.slider-billbord::after {
		top: 0;
		bottom: 0;
	}
	.wrapper {
		padding-top: 61px;
	}
	.billbord {
		padding-top: 35px;
	}
	.item-billbord__left {
		padding-left: 15px;
	}
	.item-billbord {
		padding: 30px;
	}
	.billbord-main {
		padding: 55px;
		padding-right: 190px;
		margin-left: 0;
	}
	.slider-billbord {
		margin: 0;
		margin-bottom: 40px;
	}
	.arrows-bottom .slick-arrow {
		bottom: -50px;
	}
	.row_categories > div:nth-child(even) {
		border-right: 1px solid #eee;
	}
	.row_categories > div:nth-last-child(-n+4) .item-category {
		border-bottom: 1px solid #eee;
	}

	.slider-billbord-min {
		display: none;
	}
	.consultation-block {
		background-position: left center;
	}
	.consultation-block__title {
		font-size: 29px;
		line-height: 30px;
	}
	.consultation-block__descr {
		font-size: 19px;
	}
	.consultation-block__text {
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 20px;
		max-width: 500px;
	}
	.wrap-catalog {
		padding: 0;
	}
	.catalog {
		padding-bottom: 25px;
		background-color: #fff;
	}
	.catalog_reverse .wrap-catalog::before {
		display: none;
	}
	.categories {
		padding-bottom: 20px;
	}
	.consultation {
		padding-top: 30px;
	}
	.brands {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.row_articles > div {
		margin-bottom: 30px;
	}
	.item-article__image {
		height: 240px;
	}
	.about {
		padding-top: 35px;
	}
	.about .title-section {
		margin-top: 20px;
	}
	.about .row_advantages {
		margin-top: 0;
	}
	.block-articles {
		padding-bottom: 10px;
	}
	.text-footer {
		max-width: 100%;
		margin-bottom: 15px;
	}
	.footer .list-social {
		margin-bottom: 15px;
	}
	.footer .logo-descr {
		margin: 0;
		margin-left: 10px;
	}
	.footer-logo {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__nav_big a, .footer__title {
		padding: 15px 0;
		display: flex;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #333;
	}
	.footer br {
		display: none;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.footer__bottom {
		border: none;
	}
	.news {
		padding-bottom: 40px;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.item-catalog .quantity {
		width: 125px;
	}
	.item-catalog .btn-main {
		padding: 0 20px;
	}
	.article__content h1 + img {
		margin-bottom: 25px;
	}
	.article__content time {
		margin-bottom: 15px;
	}
	.article__content p {
		margin-bottom: 20px;
	}
	.menu-mobile {
		padding: 15px;
		padding-bottom: 100px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		display: none;
		overflow: auto;
		background-color: #fff;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	.menu-mobile .menu a {
		padding: 10px 0;
		border-bottom: 1px solid #333;
		display: block;
	}
	.search-main {
		width: 100%;
	}
	.menu-mobile .dropdown-location {
		margin-bottom: 20px;
	}
	.menu-mobile .contacts-links .link-page {
		margin-top: 8px;
	}
	.btn-main_catalog:hover {
		background-color: transparent;
	}
	.title-contact {
		margin-top: 20px;
	}
	.contacts-block {
		padding-top: 15px;
		padding-bottom: 30px;
	}
	.contacts .title-section {
		padding-bottom: 20px;
	}
	.contacts-block br {
		height: 15px;
	}
	.form-page::before {
		right: 0;
	}
	.form-page {
		padding: 35px;
	}
	.contacts .form-page {
		margin: 0;
	}
	#map {
		margin-top: 30px;
		height: 300px;
	}
	.breadcrumbs {
		padding-bottom: 30px;
	}
	.categories-page__wrap {
		padding-bottom: 60px;
	}
	.section-simple {
		padding: 40px 0;
	}
	.text-block {
		margin-bottom: 25px;
	}
	.item-tag {
		margin-right: 24px;
	}
	.catalog-page .tags-list {
		margin-bottom: 25px;
	}
	.list-sidebar_3 {
		max-height: 285px;
	}
	.sidebard-catalog {
		margin-bottom: 20px;
	}
	.item-sorting {
		margin-right: 20px;
	}
	.sorting-wrap {
		margin-bottom: 20px;
	}
	.catalog-page {
		padding-bottom: 60px;
	}
	.sidebard-catalog {
		display: none;
	}
	.btn-main_filter {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
	}
	.card__top {
		margin-top: 20px;
	}
	.card-prices {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.card .tabs {
		margin-top: 35px;
	}
	.table-main {
		overflow: auto;
	}
	.table-main table {
		width: 1050px;
	}
	.table-main::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-main::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.table-main::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.table-main::-webkit-scrollbar-thumb {
		background-color: #FE0000;
		border-radius: 10px;
	}
	.table-main::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #B1B8C2;
	}
	.slider-catalog {
		padding-bottom: 40px;
	}
	.recomendation {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.recomendation .title-section {
		padding-bottom: 20px;
	}
	.card {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.basket-main {
		margin-bottom: 20px;
	}
	.title-big {
		font-size: 34px;
		line-height: 41px;
	}
	.descr-big {
		font-size: 18px;
		line-height: 26px;
	}
	.thanks .descr-big {
		max-width: 350px;
	}
	.thanks {
		padding-top: 35px;
		padding-bottom: 65px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.item-billbord__image img {
		margin: 0 auto;
		margin-top: 15px;
	}
	.billbord-main {
		padding: 40px;
		padding-right: 135px;
	}
	.billbord-main .link-main {
		margin-top: 35px;
	}
	.slider-billbord .slick-dots {
		bottom: -30px;
	}
	.billbord {
		padding: 35px 0;
	}
	.head-section {
		display: block;
	}
	.head-section .btn-page {
		margin-top: 15px;
	}
	.title-section {
		font-size: 25px;
	}
	.catalog {
		padding-top: 30px;
	}
	.item-catalog__content,
	.item-catalog__bottom {
		padding: 25px;
	}
	.item-catalog__content {
		padding-top: 0;
	}
	.consultation-block {
		padding: 30px 20px;
	}
	.btn-main {
		font-size: 14px;
		padding: 0 18px;
	}
	.line-form .item-form {
		width: 215px;
	}
	.item-catalog .btn-main {
		padding: 0 25px;
	}
	.brands .title-section {
		padding-bottom: 0;
	}
	.item-brand {
		margin-left: 5px;
		margin-right: 5px;
		box-shadow: 0px 5px 10px 0px rgb(204 204 204 / 40%);
		height: 105px;
	}
	.slider-brands {
		padding-bottom: 10px;
		margin: 0 -5px;
		margin-bottom: 10px;
	}
	.head-section {
		padding: 15px 0;
	}
	.footer__bottom {
		font-size: 13px;
		text-align: center;
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.btn_top {
		float: none;
	}
	.btn-header {
		height: 52px;
	}
	.btn-header__value {
		top: 4px;
	}
	.news-page .title-section {
		padding-bottom: 20px;
	}
	.news-page {
		padding-top: 25px;
		padding-bottom: 30px;
	}
	.pager {
		margin-top: 25px;
	}
	.item-article_image {
		height: 370px;
	}
	.news-page .row_articles > div {
		margin-bottom: 25px;
	}
	.breadcrumbs {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.article h1 {
		font-size: 25px;
		line-height: 31px;
	}
	.article h1 br {
		display: none;
	}
	.article__content h2 {
		font-size: 20px;
		margin-bottom: 16px;
	}
	.article__content blockquote {
		font-size: 16px;
		padding: 20px 45px;
		margin-bottom: 20px;
	}
	.article__content blockquote::before {
		width: 2px;
		top: 15px;
		bottom: 15px;
		left: 20px;
	}
	.article__content img {
		float: none !important;
		margin-left: 0 !important;
		margin-bottom: 15px;
	}
	.title-sidebar {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.article .item-article {
		margin-bottom: 30px;
	}
	.article {
		padding-bottom: 35px;
	}
	.unit-category__more {
		display: none;
	}
	.unit-category .link-main {
		opacity: 1;
	}
	.consultation-block_main .consultation-block__title {
		font-size: 30px;
	}
	.consultation-block_main .consultation-block__descr {
		font-size: 23px;
		padding-bottom: 15px;
	}
	.categories-page__wrap {
		padding-bottom: 35px;
	}
	.image-simple {
		height: 350px;
	}
	.item-tag {
		margin-right: 15px;
		padding: 11px 20px;
		border-radius: 7px;
	}
	.tags-list {
		margin-right: -15px;
	}
	.catalog-page .title-section {
		padding-bottom: 20px;
	}
	.item-sorting {
		font-size: 16px;
		line-height: 22px;
		padding: 10px 20px;
		border-radius: 7px;
	}
	.catalog-page {
		padding-bottom: 45px;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	.breadcrumbs li {
		padding: 9px 10px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
	.contacts {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.slider-nav {
		max-width: 100%;
		padding: 0;
	}
	.col_for {
		order: -1;
	}
	.slider-for__item {
		height: 410px;
	}
	.slider-nav__item {
		margin: 0 7px;
		height: 100px;
	}
	.slider-nav .slick-arrow {
		top: 50%;
		background-color: #fff;
		bottom: auto;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.slider-nav .slick-prev {
		left: -15px;
		right: auto;
	}
	.slider-nav .slick-next {
		right: -15px;
		left: auto;
	}
	.card .title-middle {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.title-middle {
		font-size: 22px;
	}
	.card__top {
		margin-bottom: 20px;
	}
	.card .btn-main {
		padding: 0 30px;
	}
	.tabs li {
		margin-right: 55px;
	}
	.tabs {
		margin-bottom: 20px;
	}
	.text-page p {
		margin-bottom: 15px;
	}
	.card .consultation-block_main {
		padding: 25px;
	}
	.card .consultation-block_main .consultation-block__text {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 15px;
	}
	.card .consultation-block_main .consultation-block__descr {
		font-size: 19px;
		line-height: 26px;
		padding-bottom: 10px;
	}
	.card .consultation-block_main .consultation-block__title {
		font-size: 30px;
		line-height: 32px;
	}
	.card .line-form .item-form {
		width: 188px;
	}
	.card .table-main {
		margin-top: 30px;
	}
	.table-main {
		margin-right: -15px;
	}
	.basket-main table,
	.basket-main thead,
	.basket-main tr,
	.basket-main td {
		display: block;
	}
	.basket-main td {
		border: none;
		padding: 15px 15px !important;
		width: 100% !important;
	}
	.basket-main tr {
		border-bottom: 1px solid #BDBDBD;
		position: relative;
	}
	.remove-td {
		top: 20px;
		right: 20px;
		position: absolute;
	}
	.basket-main td:last-child {
		padding: 0 !important;
		border: none;
	}
	.head-basket {
		display: block;
	}
	.links-basket .link-doc {
		margin: 0;
		margin-top: 20px;
		margin-right: 30px;
	}
	.basket-main td:nth-child(2),
	.basket-main td:nth-child(3) {
		padding-bottom: 0 !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.billbord {
		padding: 20px 0;
	}
	.item-billbord__name {
		font-size: 20px;
		margin-bottom: 11px;
	}
	.item-billbord__title {
		font-size: 26px;
		line-height: 28px;
	}
	.item-billbord {
		padding: 20px;
	}
	.billbord-main {
		padding: 24px;
		padding-right: 115px;
		font-size: 13px;
		line-height: 20px;
	}
	.item-category__image {
		height: 135px;
	}
	.item-category {
		font-size: 14px;
		height: 230px;
		padding-bottom: 15px;
	}
	.catalog .title-section {
		margin-bottom: 20px;
	}
	.item-catalog__content, .item-catalog__bottom {
		padding: 20px;
	}
	.item-catalog__content {
		padding-top: 0;
	}
	.consultation-block__descr {
		font-size: 16px;
	}
	.consultation-block__text {
		font-size: 13px;
		line-height: 21px;
		margin-bottom: 20px;
	}
	.consultation-block {
		margin: 0 -15px;
		border-radius: 0;
		background-position: 20% 50%;
	}
	.brands {
		padding-bottom: 30px;
	}
	.block-articles {
		padding: 0;
		background-color: transparent;
	}
	.item-article {
		background-color: #fff;
		border-radius: 20px;
	}
	.item-article__content {
		padding: 20px;
		padding-top: 0;
	}
	.about .title-section {
		margin-top: 12px;
	}
	.title-section {
		font-size: 23px;
	}
	.item-article__image {
		height: 215px;
	}
	.news {
		padding-bottom: 20px;
	}
	.item-article_image {
		height: 325px;
	}
	.item-article_image .item-article__content {
		padding: 40px 20px;
	}
	.page-numbers {
		margin: 0 17px;
	}
	.pager {
		margin: 0 -17px;
		margin-top: 0px;
	}
	.news-page .block-articles {
		padding-bottom: 0;
	}
	.article .block-articles {
		padding-top: 0;
	}
	.article h1 {
		font-size: 23px;
		line-height: 29px;
	}
	.article__content h1 + img {
		margin-bottom: 15px;
	}
	.article__content blockquote::before {
		left: 0;
	}
	.article__content blockquote {
		padding: 0;
		font-size: 15px;
		padding-right: 0;
		padding-left: 30px;
	}
	.article .item-article_image {
		height: 300px;
	}
	.article .item-article:last-child {
		margin-bottom: 0;
	}
	.title-form {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.form-page {
		padding: 30px 15px;
	}
	.categories-page .title-section {
		padding-bottom: 22px;
	}
	.consultation-block_main {
		margin-top: 20px;
		border: none;
	}
	.consultation-block_main .consultation-block__descr {
		font-size: 20px;
	}
	.consultation-block_main .consultation-block__text {
		font-size: 14px;
		line-height: 20px;
	}
	.categories-page__wrap {
		padding-bottom: 0;
	}
	.text-block {
		padding-right: 20px;
		height: 305px;
	}
	.image-simple {
		height: 295px;
	}
	.item-sidebar__head {
		font-size: 17px;
		line-height: 25px;
		padding: 15px;
	}
	.item-sidebar__head i {
		font-size: 13px;
		margin-left: 10px;
	}
	.item-sidebar__content {
		padding: 15px;
		padding-top: 0;
	}
	.input-range input {
		font-size: 16px;
	}
	.item-sorting {
		font-size: 14px;
		line-height: 20px;
		padding: 8px 15px;
		border-radius: 7px;
		margin-right: 12px;
	}
	.item-sorting::after {
		margin-left: 9px;
		font-size: 10px;
	}
	.catalog-page .pager {
		margin-top: 0;
	}
	.page-numbers {
		font-size: 15px;
		margin: 0 12px;
	}
	.slider-for__item {
		height: 330px;
	}
	.slider-nav__item {
		height: 83px;
	}
	.title-middle {
		font-size: 21px;
	}
	.feature__title {
		width: 200px;
	}
	.tabs li {
		margin-right: 35px;
	}
	.card .consultation-block_main {
		padding: 25px 20px;
	}
	.card .consultation-block_main .consultation-block__descr {
		font-size: 17px;
		line-height: 24px;
	}
	.card .consultation-block_main .consultation-block__title {
		font-size: 26px;
		line-height: 29px;
		padding-bottom: 13px;
	}
	.card .btn-main {
		padding: 0 5px;
	}
	.recomendation { 
		padding-bottom: 40px;
	}
	.link-doc {
		font-size: 14px;
	}
	.links-basket .link-doc {
		margin-right: 15px;
	}
	.basket-total {
		padding: 20px;
	}
	.title-big {
		font-size: 31px;
		line-height: 38px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sidebard-catalog,
	.footer__content {
		display: block !important;
	}
	.item-article_big {
		padding: 0;
		box-shadow: 0px 10px 20px 0px rgba(204,204,204,0.4);
		border-radius: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.item-article_big .item-article__image {
		margin: 0;
		height: 340px;
		flex: none;
		width: 47%;
	}
	.item-article_big .item-article__content {
		padding-left: 68px;
		padding-right: 40px;
		flex: 1;
	}
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
	.container {
		max-width: 1390px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1390px;
	}
}